{% extends 'base.html.twig' %}

{% block title %}Connexion - TeamBuild{% endblock %}

{% block body %}
<div class="container">
    <div class="left">
        <h1 class="h1">Bienvenue <br> sur <br>TeamBuild</h1>
    </div>
    <div class="right">
        <img src="{{ asset('../images/LogoDetail.png') }}" alt="ÉDIFIS PRO" class="logo">
        <h2>Connexion</h2>
        <form method="post" action="{{ path('app_login') }}">
            <input type="email" name="_username" placeholder="Email" required>
            <input type="password" name="_password" placeholder="Mot de passe" required>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <button type="submit">connexion</button>
        </form>
    </div>
</div>
{% endblock %}

{% block stylesheets %}
    <style>

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Inter', sans-serif ;
        }

        html, body {
            width: 100%;
            height: 100%;
            display: flex;
        }

        .container {
            width: 100%;
            height: 100vh;
            display: flex;
        }

        .h1{
            justify-content: center;
            font-weight: 100 !important;
            color: #1e3a5f;
            font-size: 5rem;
            padding-left: 40px;
        }

        .left {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-image: url("{{ asset('images/background.png') }}");
            background-size: cover;
            background-position: center;
            padding: 40px;
            padding-right: 350px;
        }

        .right {
            flex: 1;
            background: #AFC3D4;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 50px;
        }

        .right .logo {
            width: 250px;
            margin-bottom: 20px;
        }

        .right h2 {
            color: #1E3A5F;
            font-size: 28px;
            font-weight: bold;
            margin-bottom: 15px;
            text-align: center;
            border-bottom: 2px solid #1e3a5f;
            padding-bottom: 5px;
            width: 100%;
            max-width: 250px;
        }

        form {
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 300px;
        }

        input {
            padding: 12px;
            margin: 8px 0;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
        }

        button {
            padding: 12px;
            background: #E76F51;
            color: white;
            border: none;
            border-radius: 20px;
            cursor: pointer;
            font-size: 16px;
            margin-top: 15px;
        }

        button:hover {
            background: #D36145;
        }

    </style>
{% endblock %}
