:root {
    --primary-color: #1E3A5F;
    --secondary-color: #E55812;
    --background-light: #F5F5F5;
    --text-dark: #2C3E50;
}

*{
    font-family: 'Inter', sans-serif;
}

body{
    background: var(--background-light);
}

.dashboard-container {
    text-align: center;
    padding: 50px;
}

.dashboard-title {
    color: var(--primary-color);
    font-size: 32px;
    font-weight: bold;
}

.dashboard-text {
    color: var(--text-dark);
    font-size: 18px;
}

.dashboard-stats {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}

.stat-card {
    background: #E5E5E5;
    padding: 40px 50px;
    border-radius: 12px;
    width: 250px;
    height: 120px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.stat-title {
    font-size: 22px;
    margin-bottom: 5px;
}

.stat-number {
    font-size: 32px;
    font-weight: bold;
}

.btn-access {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--secondary-color);
    color: white;
    padding: 15px 25px;
    border-radius: 10px;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    margin: 40px auto;
    width: fit-content;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease-in-out;
}

.btn-access i {
    margin-right: 10px;
}

.btn-access:hover {
    background: #E06C4EFF;
    color: white;
}
